.main_div_header{
    margin: 1rem 14rem;
    display: flex;
    align-items: center;
    justify-content:space-between;
    flex-wrap: wrap;
}

.header_links a{
    text-decoration: none;
    font-size: 16;
    color: black;
    margin: 0 1rem;
}